name: SDK Kotlin CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      # https://cashapp.github.io/hermit/usage/ci/
      - name: Init Hermit
        uses: cashapp/activate-hermit@v1

      - uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle.kts') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/versions.properties') }}

      - name: hash test inputs
        run: |
          if ! which sha256sum; then brew install coreutils; fi
          sha256sum $(find test-vectors -name '*.json') > test-vector-hashes.txt

      - id: test_condition
        # and pr branch name is not main
        if: matrix.os == 'ubuntu-latest' && github.ref != 'refs/heads/main'
        run: |
          echo "This step only runs on ubuntu-latest"
          exit 1

      - name: Run Gradle Tasks
        run: gradle build koverXmlReport

      - uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: |
            **/build/test-results/test/*Web5TestVectors*.xml
            test-vector-hashes.txt

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
          flags: ${{ runner.os }}

      - uses: actions/upload-artifact@v3
        with:
          name: tests-report-junit
          path: |
            **/build/test-results/test/*.xml

      - name: Generate an access token to trigger downstream repo
        uses: actions/create-github-app-token@2986852ad836768dfea7781f31828eb3e17990fa # v1.6.2
        id: generate_token
        # test only in main and report ubuntu results only
        if: github.ref == 'refs/heads/main' && matrix.os == 'ubuntu-latest'
        with:
          app-id: ${{ secrets.CICD_ROBOT_GITHUB_APP_ID }}
          private-key: ${{ secrets.CICD_ROBOT_GITHUB_APP_PRIVATE_KEY }}
          owner: TBD54566975
          repositories: sdk-report-runner

      - name: Trigger sdk-report-runner report build
        # test only in main and report ubuntu results only
        if: github.ref == 'refs/heads/main' && matrix.os == 'ubuntu-latest'
        run: |
          curl -L \
          -H "Authorization: Bearer ${APP_TOKEN}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          -H "Content-Type: application/json" \
          --fail \
          --data '{"ref": "main"}' \
          https://api.github.com/repos/TBD54566975/sdk-report-runner/actions/workflows/build-report.yaml/dispatches
        env:
          APP_TOKEN: ${{ steps.generate_token.outputs.token }}
