name: Deploy examples to GitHub Pages

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build-web5-sdk-kotlin:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        projects: [
          web5-sdk-kotlin
        ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: 17
      - uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-cleanup: true
      - name: Build html
        run: ./gradlew dokkaHtmlMultiModule --no-daemon --stacktrace
        working-directory: .
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.projects }}
          path: ${{ matrix.projects }}/build/dokka

  deploy-examples:
    runs-on: ubuntu-latest
    needs: [ build-web5-sdk-kotlin ]
    steps:
      - uses: actions/download-artifact@v2
        with:
          path: public
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          keep_files: true
          publish_dir: ./public
          full_commit_message: Publish documentation to GitHub pages